* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(214, 214, 214, 0.582);
}
a {
    text-decoration: none;
    color: black;
}
/* top */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
  border-bottom: 1px solid gray;
  font-size: 1.2rem;
}
.topbar__logoLeft img {
  width: 200px;
  /* height: ; */
}
.topbar__middle {
  /* background-color: aquamarine; */
  display: flex;
  gap: 20px;
}
.topbar__right {
  /* background-color: rgb(91, 156, 255); */
  display: flex;
  gap: 15px;
}
/* Head Topic */
h1 {
  margin-left: 40px;
}
/* main */
.main {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 50px;
  margin-inline: auto;
}
/* main left */
.main__left__trash-border {
  width: 25px;
  height: 25px;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.main__left__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 10px;
  flex-grow: 1;
  padding: 10px;
}
.main__left__card__display__top,
.main__left__card__display__bottom {
    width: 9rem;
    height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 5px;
  border-radius: 13px;
}
.main__left__card__display__top {
  background-image: linear-gradient(
    to top right,
    rgb(113, 226, 230) 50%,
    rgb(40, 129, 141) 80%
  );

}
.main__left__card__display__bottom {
  background-image: linear-gradient(to top right, orange 50%, yellow 80%);
}
/* main right */
.main__right {
  width: 50%;
  margin-bottom: 40px;
  /* background-color: rgb(133, 155, 111); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 30px;
  border-radius: 10px;
  gap: 30px;
  font-size: 1.5rem;
  flex-wrap: wrap;
}
.main__right__totalPrice {
  display: flex;
  justify-content: space-between;
}
.main__right__coupon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__right__applyButton {
    width: 8rem;
    height: 2.5rem;
    padding: 5px;
    border-radius: 15px;
    font-size: 0.8rem;
    border: 2px solid rgb(3, 148, 148);
    color: rgb(3, 148, 148);
}
.main__right__coupon input {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-shrink: 2;
    margin-inline: 10px;
    font-size: 1.3rem;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid gray;
}
.main__right__totalPayment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gray;
  padding-top: 15px;
}
h2 {
  color: rgb(23, 133, 133);
}
.main__right__payButton {
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px 2px;
  font-size: 1rem;
  color: rgb(255, 255, 255);
    background-color: rgb(0, 179, 119);
  border: 1px solid aqua;
}
.main__right__totalPrice,   
.main__right__coupon,
.main__right__totalPayment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar,
.main__left__card,
.main__right{
    background-color: rgb(240, 241, 241);
}
